<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Used Cars Price Predictions</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/modal-video/css/modal-video.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->

  <style>
    td{
      padding: 5px;
      vertical-align: top;
      text-align: left;
    }
    th{
      padding: 5px;
      vertical-align: top;
      text-align: center;
    }
  </style>
</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>e</span>Startup</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="static/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="/#features">Features</a></li>
          <!-- <li><a href="/#screenshots">Screenshots</a></li> -->
          <li class="menu-has-children"><a href="">Menu</a>
            <ul>
              <li><a href="/predict">Used Car Price Prediction</a></li>
              <li><a href="/recommendation">Used Car Recommendations</a></li>
            </ul>
          </li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <h1>Used Car Recommendations</h1>
      
        <form action="http://localhost:5000/recommendation" method="POST">
            <table>
                <tr>
                    <th colspan="6">Filter Recommendations</th>
                </tr>
                <tr>    
                </tr>
                    <td><label for="price">Budget</label></td>
                    <td>:</td>
                    <td><input type="text" id="price" name="price" size="10"></td>
                    <td><label for="type">Type</label></td>
                    <td>:</td>
                    <td>
                        <select id="type" name="type">
                            <option hidden disabled selected value=""></option>
                            <option value="bus">Bus</option>
                            <option value="convertible">Convertible</option>
                            <option value="coupe">Coupe</option>
                            <option value="hatchback">Hatchback</option>
                            <option value="mini-van">Mini-Van</option>
                            <option value="offroad">Offroad</option>
                            <option value="pickup">Pickup</option>
                            <option value="sedan">Sedan</option>
                            <option value="SUV">SUV</option>
                            <option value="truck">Truck</option>
                            <option value="van">Van</option>
                            <option value="wagon">Wagon</option>
                            <option value="other">Other</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: center;">
                        <input type="submit" class="btn-get-started scrollto" value="Search">
                        <input type="reset" class="btn-get-started scrollto" value="Reset">
                    </td>
                </tr>
            </table>
        </form>
      
    </div>
  </section><!-- #hero -->
  

  <!--==========================
    Footer
  ============================-->
  <footer class="footer">
    

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights eStartup. All rights reserved.</p>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/modal-video/js/modal-video.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
